
@import "../lib/bootstrap-2.3.2/less/bootstrap.less";

@heroUnitBackground: #FFFFFF;

@import "common.less";

@import "search.less";
@import "results.less";

@import "metadata.less";
@import "dataset.less";
@import "pages.less";

@import "stats.less";



/* Mixins */
.border-radius (@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}
