

article.occurrence, article.datapublisher, article.dataset{
	color: #112011;
	section {
		margin-top: 10px;
		margin-bottom: 10px;

		background-color: #ffffff;

		.border-radius(5px);

		//border: 1px solid #e7e7e7;

		box-shadow: 1px 1px 5px #e7e7e7;

		padding: 5px;

		dd {
			color: #383838;
		}
	}
	h2 {
		font-weight: 400;

		padding-bottom: 10px;
		border-bottom: 1px solid #dddddd;
	}

	h3 {

		font-size: 1.4em;

		margin: 4px 0;

		line-height: 24px;
	}

	h4 {
		font-size: 1.1em;
		margin: 4px 0;
	}
	h3, h4 {

		font-weight: 300;
	}
}

article.occurrence {

	dd.kingdom {
		padding-left: 0px;
	}
	dd.phylum {
		padding-left: 15px;
	}
	dd.class {
		padding-left: 30px;
	}
	dd.order {
		padding-left: 45px;
	}
	dd.family {
		padding-left: 60px;
	}
	dd.genus {
		padding-left: 75px;
	}	
}

article.dataset {
	.info {
		p {
			margin-top: 15px;
		}
	}
}

article.datapublisher{
	.contacts{
		h3 {
			font-size: 1.1em;
			text-transform: uppercase;
			margin: 0;
		}
		li {
			display: table-cell;
			list-style: none;

			padding-left: 10px;

			h4 {
				font-size: 1.1em;
				border-bottom: 1px solid #dddddd;
			}
		}
	}
	.tags {
		li {
			padding-left: 10px;
			list-style: none;
			display: table-cell;
		}
	}
}

#index:extend(.hero-unit){
	h3 {
		font-size: 19.5px;
		text-align: center;
	}

	#index-map {
		width: 100%;
		height: 500px;

	}
}
