

#search-form {
	border: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	.forms:extend(form-group) {
		padding: 20px;
		.border-radius(4px);

		form {
			padding-right: 40px;

			label:extend(.form-horizontal .control-label) {	
				margin-right: 5px;
			}

			input:extend(.form-horizontal input):extend(.input-medium) {
			}
			select:extend(.form-horizontal select):extend(.input-medium) {
			}
			select.lt-gt-filter {
				width: 3em;
			}

			input[type="submit"]:extend(.btn) {
				width: auto;
				text-align: left;
			}
		}
		form:last-child {
			margin-bottom: 0px;
		}




	}
}

#summary:extend(.hero-unit) {
	h3{
		font-size: 17px;
		margin: 0px;
	}

	.geo {
		color : #c09853;
	}
	.taxa{
		color : #3a87ad;
	}
	.dataset{
		color : #468847;

	}
	.date{
		color : #b94a48;
	}

	font-size: 15px;
	padding: 15px 20px 15px 20px;
	color: #000000;

	li {
		display: inline-block;
		list-style: none;
		text-align: -webkit-match-parent;
		margin-top: 3px;
		margin-left: 3px;
		padding-left: 2px;
		padding-right: 2px;

		line-height: 26px;
		height: 26px;

		background-color: #efefef;

		border: 1px solid #d8d8d8;

		.border-radius(4px);

		vertical-align: middle;

		input:extend(.input-medium){

		}

	}

	span {
		// border: 1px solid gray;
		// padding-left: 5px;
		// padding-right: 5px;
		// margin-left: 3px;
		// font-style: italic;

		span {
			border: 0;
			padding: 0;
			margin: 0;
		}
	}

	> div {
		padding-bottom: 1px;
	}

	dl:extend(.dl-horizontal) {
		list-style-type: none;
		margin: 0px;
		padding: 0px;

		dt:extend(.dl-horizontal dt) {
			line-height: 26px;
			margin-top: 3px;

		}
		dd:extend(.dl-horizontal dd) {
		}
	}

	a.submit:extend(.btn) {
		clear: both;
		display: table;
	}
}


#search-form.taxa .forms {
	border-color: #bce8f1;
	background-color: #d9edf7;
	color : #3a87ad;
}

#search-form.date .forms {
	background-color: #f2dede;
    border-color: #eed3d7;
    color:#b94a48;
}

#search-form.dataset .forms {
	background-color: #dff0d8;
    border-color: #d6e9c6;
    color:#468847;

	.search-query:extend(.input-xlarge) {
	}
}

#search-form.geo .forms {
	background-color: #fcf8e3;
	border-color: #fbeed5;
	color:#c09853;
}



#search-tabs:extend(.btn-group) {
	margin-bottom: 20px;
	width: 100%;

	a:extend(.btn):extend(.btn-group>.btn) {
		width: 25%;
		/* Cancel the border effect */
		margin-left: -2px;
		padding: 4px 0;
	}

	a:last-child{
		&:extend(.btn-group>.btn:last-child);
	}
	a:first-child{
		&:extend(.btn-group>.btn:first-child);
		/* No margin left for the lefter element */
		margin-left: 0;
	}

	a.taxa:extend(.btn-info) {}
	a.geo:extend(.btn-warning) {}
	a.dataset:extend(.btn-success) {}
	a.date:extend(.btn-danger) {}

}

