/* app css stylesheet */



.container {
	margin: 0 auto;
	max-width: 1000px;
}

.container > hr {
	margin: 60px;
}

/* Header */
header{
	background-color: black;
}

/* Navigation */

nav{
    width: 100%;
   
}

#main-nav {
  text-align: center;
}

nav ul{

}

nav > ul > li
{
	
}

/* Bandereaux */

.hero-unit{

}

.text-block{
	display: inline-block;
	width: 600px;
	vertical-align: middle;
	text-align: left;
}

#box-img{
	display: inline-block;
	width: 13%;
	vertical-align: middle;
	text-align: right;
	margin-left: 20px;
}

/* Ajout pour bootstrap */

.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav li a {
    text-align: center;
    color: white;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

/* Index */
.description{
	margin-left: 25px;
	margin-right: 25px;
}

.hero-unit .text-description{
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}

/* Footer */
footer{
	
}

#index-map{
  height: 360px;
  width:511px;
  margin-left: auto;
  margin-right: auto;
}

#search-map{ 
	height: 360px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
}
#result-map{ 
	margin-top: 10px;
	height: 360px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
}


#georeferenced-data input[type="checkbox"] {
	margin-left: 10px;
	height: 15px;
	width: 15px;
}


#search-form .form-group {

}

#search-form form {
}
#search-form form .form-horizontal{
	width: 100%;
}
#search-form form > .btn{
}

#search-form .help-message {
	font-size: 12px;
}
.search-form {

}

.search-form-geo {

}
.search-form-taxa {

}
.search-form-date {

}
.search-form-dataset {

}

.lt-gt-filter {
}

/* filtre formulaire */

.label-filter{
}

.form-bottom{

}

/* popup aide */

.popover-content{
	color:black;
	text-align:left;
	font-size: 13px;
}

.popover-title{
	color:black;
	text-align:left;
	font-size: 13px;
}

.popover-border{
	border-width:0.1px;
}

/* Georeferenced data checkbox */

.btn-select{
	margin-left: 5px;
}
/* Recapitulatif recherche */



nav {

}

nav > ul > li > ul {

}

nav > ul > li > ul > li {

}

nav > ul > li:hover > ul {
	
}