/* app css stylesheet */

body {
	color: green;
  	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
}

.container > hr {
	margin: 60px;
}

/* Header */
header{
	background-color: black;
}

/* Navigation */

nav{
    width: 100%;
   
}

#main-nav {
  text-align: center;
}

nav ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

nav > ul > li
{
	display: inline-block;
    margin:0px;
    padding: 0px;
    text-align: center;
    width: 16.2%;
    font-weight: bold;


  	padding-top: 20px;
	padding-bottom: 20px;
}

/* Bandereaux */

.hero-unit{
	padding: 1%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.entete{
	text-align: center;
}
.text-block{
	display: inline-block;
	width: 600px;
	vertical-align: middle;
	text-align: left;
}

#box-img{
	display: inline-block;
	width: 13%;
	vertical-align: middle;
	text-align: right;
	margin-left: 20px;
}

/* Ajout pour bootstrap */

.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav li a {
    text-align: center;
    color: white;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

/* Index */
.description{
	margin-left: 25px;
	margin-right: 25px;
}

.hero-unit .text-description{
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}

/* Footer */
footer{
	padding-top: 100px;
}

#index-map{
  height: 360px;
  width:511px;
  margin-left: auto;
  margin-right: auto;
}

#search-map{ 
	height: 360px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
}
#result-map{ 
	margin-top: 10px;
	height: 360px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

#search-tabs {
	margin-bottom: 20px;
	width: 100%;
}
#search-tabs .btn {
	width: 25%;
	/* Cancel the border effect */
	margin-left: -2px;
	padding: 4px 0;
}
#search-tabs .btn:first-child{
	/* No margin left for the lefter element */
	margin-left: 0;
}

#georeferenced-data input[type="checkbox"] {
	margin-left: 10px;
	height: 15px;
	width: 15px;
}


#search-form .form-group {
	padding: 20px;
}

#search-form form {
	padding-right: 40px;
}
#search-form form .form-horizontal{
	width: 100%;
}
#search-form form > .btn{
	text-align: left;
}

#search-form .help-message {
	font-size: 12px;
}
.search-form {
	border: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.search-form-geo {
	background-color: #fcf8e3;
	border-color: #fbeed5;
	color:#c09853;
}
.search-form-taxa {
	border-color: #bce8f1;
	background-color: #d9edf7;
	color : #3a87ad;
}
.search-form-date {
	background-color: #f2dede;
    border-color: #eed3d7;
    color:#b94a48;
}
.search-form-dataset {
	background-color: #dff0d8;
    border-color: #d6e9c6;
    color:#468847;
}

.label-taxa{
	color : #3a87ad;
}

.label-geo{
	color : #c09853;
}

.label-dataset{
	color : #468847;
}

.label-date{
	color : #b94a48;
}

.lt-gt-filter {
	width: 3em;
}

/* filtre formulaire */

.label-filter{
	margin-right: 5px;
	width: 100px;
}

.form-bottom{
	margin-bottom: 0px;
}

/* popup aide */

.popover-content{
	color:black;
	text-align:left;
	font-size: 13px;
}

.popover-title{
	color:black;
	text-align:left;
	font-size: 13px;
}

.popover-border{
	border-width:0.1px;
}

/* Georeferenced data checkbox */

.btn-select{
	margin-left: 5px;
}
/* Recapitulatif recherche */

dl{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.search-summary h3{
	font-size: 17px;
	margin: 0px;
	text-decoration: underline;
}

.search-summary{
	font-size: 15px;
	padding: 15px 20px 15px 20px;
	color: #000000;
}

.search-summary span{
	border: 1px solid gray;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 3px;
	font-style: italic;
}

.search-summary-field{
	padding-bottom: 1px;
}

nav {
	position: relative;
}

nav > ul > li > ul {
	background: black;
	display: none;


	position: absolute;
	top: 60px;
	left: 0;

	width: 100%;
	height: 30px;
}

nav > ul > li > ul > li {
	list-style-type: none;
	display: inline-block;

	padding-left: 5px;
	padding-right: 5px;
}

nav > ul > li:hover > ul {
	display: block;
}