/* Parts deidcate to the header*/
img{
    width:25%;
    padding-right: 20px;
}

.title{
    float:left;
    width:500px;
    margin-top: 32px;
}

.logo{
    margin-left: 520px;
    text-align: right;
    margin-bottom: 10px;
}

h3, h4{
    margin-bottom: 0px;
    margin-top: 0px;
}

h4{
    font-style: italic;
    font-size: 15px;
}


/* Parts dedicate to the navbar */
.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

.menu{
    text-transform: capitalize;
}

/* Parts dedicated to body */
body {
    padding-top: 20px;
    padding-bottom: 60px;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}

/* Participant table */

.name{
    text-transform: capitalize;
}

caption{
    margin-bottom: 10px;
}
     
/* Parts dedicate to the agenda */
.agenda{
    margin-bottom: 20px;
}

.register > div {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.register .firstname {
    float: left;
    padding-right: 40px;
}

footer{
    padding-top: 100px;
}

/* Validation paragraphe */

.validation{
    border: 2px solid rgb(217,81,95);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    /*background-color: rgba(189,206,15, 0.3); */
    background-image: -webkit-radial-gradient( center, rgb(189,206,15), rgb(189,255,255));
    background-image: -moz-radial-gradient( center, rgb(189,206,15), rgb(189,255,255));
    background-image: -ms-radial-gradient( center, rgb(189,206,15), rgb(189,255,255));
    background-image: -o-radial-gradient( center, rgb(189,206,15), rgb(189,255,255));
    background-image: radial-gradient( circle at center, rgba(189,230,15, 0.5), rgba(189,206,15, 0.6));
}

.entete{
    text-align: center;
    padding-bottom: 20px;
}

.ul_agenda{
    margin-top: 20px;
}

.partenaire img{
    width: 10%;
}

.corps p{
   text-align: justify;
}