<div ng-controller="CtrlSearch">
	<div ng-include="'portal/search/search.inc.html'"></div>
	<div class="form-group alert alert-info">
		<form  ng-submit="addScientificName()">
	    	<div class="form-horizontal btn btn-large btn-info">
				<div class="control">
					<i class="icon-question-sign" ng-click="isCollapsedScientific = !isCollapsedScientific"></i>
					<label  class="control-label label-filter" for="scientificName">Nom scientifique </label>
					<input type="text" id="scientificName" class="input-medium search-query" ng-model="scientificName" typeahead="name for name in autocompleteScientificName($viewValue)">
	  				<input type="submit" class="btn" value="Ajouter" >
	  			</div>
			</div>
			<div collapse="isCollapsedScientific"> Faire une recherche en utilisant le nom scientifique de l'occurrence. Par exemple : canis lupus. </div>	
		</form>

		<form class="form-bottom" ng-submit="addVernacularName()">
	    	<div class="form-horizontal btn btn-large btn-info last-filter">
				<div class="control">
					<i class="icon-question-sign" ng-click="isCollapsedCommun = !isCollapsedCommun"></i>
					<label  class="control-label label-filter" for="vernacularName">Nom commun</label>
					<input type="text" id="vernacularName" class="input-medium search-query" ng-model="vernacularName" typeahead="name for name in autocompleteVernacularName($viewValue)">
	  				<input type="submit" class="btn" value="Ajouter" >
	  			</div>
			</div>
			<div collapse="isCollapsedCommun"> Faire une recherche en utilisant le nom commun de l'occurrence. Par exemple : loup. </div>
		</form>
	</div>	
</div>

<!-- 
			<form  ng-submit="addScientificName()">
	    	<div class="form-horizontal btn btn-large btn-info">
				<div class="control">
					<i class="icon-question-sign" popover-placement="top" popover-title="Recherche par nom scientifique" popover="Vous pouvez faire une recherche avec un nom scientifique. Par exemple : 'canis lupus'"></i>
					<label  class="control-label label-filter" for="scientificName">Nom scientifique </label>
					<input type="text" id="scientificName" class="input-medium search-query" ng-model="scientificName" typeahead="name for name in autocompleteScientificName($viewValue)">
	  				<input type="submit" class="btn" value="Ajouter" >
	  			</div>
			</div>	
		</form>
-->