<div id="search-form" class="date">
	<div ng-include="'portal/search/search.inc.html'"></div>
	<div class="forms">
		<form ng-submit="setDate()">

			<label class="control-label label-filter" for="date" ng-model="date">Date</label>
			<div date-slider ng-model="dateslider"/>
			<input type="submit" value="Ajouter" />

			<div class="help-message" collapse="isCollapsedDate"> Faite glisser le curseur pour choisir votre plage de recherche pour la date. Pour n'avoir aucune date, il faut mettre le curseur sur "PAS DE DATE" et pour les données paléontologique, mettre "PRE" </div>
		</form>
	</div
</div>
