
<accordion>
	<accordion-group id="summary" is-open="isopen" ng-init="isopen=true">
		<accordion-heading>
			Votre recherche <i class="pull-right" ng-class="{'icon-chevron-down': isopen, 'icon-chevron-right': !isopen}"></i> 
		</accordion-heading>
<dl>
			<dt class="taxa" ng-if="scientificNames.length>=1"> Nom scientifique </dt>
			<dd class="taxa">
				<ul>
					<li ng-repeat="name in scientificNames ">
						<i class="icon-remove" ng-click="removeScientificName($index)"></i>
						{{name.text}}
					</li>
				</ul>
			</dd>
			<dt class="taxa" ng-if="vernacularNames.length>=1"> Nom commun </dt>
			<dd class="taxa">
				<ul>
					<li ng-repeat="name in vernacularNames">
						<i class="icon-remove" ng-click="removeVernacularName($index)"></i>
						{{name.text}}
					</li>
				</ul>
			</dd>
			<dt class="geo" ng-if="localities.length>=1"> Lieu </dt>
			<dd class="geo">
				<ul>
					<li ng-repeat="name in localities">
						<i class="icon-remove" ng-click="removeLocality($index)"></i>
						{{name.text}}
					</li>
				</ul>
			</dd>
			<dt class="geo" ng-if="latitudes.length>=1"> Latitude </dt>
			<dd class="geo">
				<ul>
					<li ng-repeat="number in latitudes">
						<i class="icon-remove" ng-click="removeLatitude($index)"></i>
						{{number.filter}} {{number.bound}} 
					</li>
				</ul>
			</dd>
			<dt class="geo" ng-if="longitudes.length>=1"> Longitude </dt>
			<dd class="geo">
				<ul>
					<li ng-repeat="number in longitudes">
						<i class="icon-remove" ng-click="removeLongitude($index)"></i>
						{{number.filter}} {{number.bound}}
					</li>
				</ul>
			</dd>
			<dt class="geo" ng-if="boundingBoxes.length>=1"> Bounding box </dt>
			<dd class="geo">
				<ul>
					<li ng-repeat="box in boundingBoxes" ng-mouseenter="highlightBoundingBox(true, box); inputBoundingBoxName = true;" ng-mouseleave="highlightBoundingBox(false, box); inputBoundingBoxName = false;">
						<i class="icon-remove" ng-click="removeBoundingBox(box)"></i> 
						<span ng-if="!inputBoundingBoxName">{{box.name}}</span>
						<input ng-if="inputBoundingBoxName" ng-model="box.name" value="{{box.name}}" />
					</li>
				</ul>
			</dd>
			<dt class="dataset" ng-if="!datapublisherDataset.empty()">Jeux de données</dt>
			<dd class="dataset">
				<ul>
					<li ng-if="!datapublisherDataset.empty()" ng-repeat="(dpId, dp) in datapublisherDataset">
						<span ng-if="dp.includeAll">
							<i class="icon-remove" ng-click="removeDatapublisher(dpId)"></i>
							{{dp.name}}
						</span>
						<span ng-if="dp.includeAll == false" ng-repeat="(dsId, ds) in dp.datasets">
							<i class="icon-remove" ng-click="removeDataset(dsId)"></i>
							{{dp.name}} - {{ds.name}}
						</span>
					</li>
				</ul>
			</dd>
			<dt class="date" ng-if="date != undefined">Date</dt>
			<dd class="date">
				<ul>
					<li ng-if="date != undefined">
						<i class="icon-remove" ng-click="removeDate()"></i>
						Entre {{date.beginDate}} et {{date.endDate}}
					</li>
				</ul>
			</dd>
			<dt class="geo" ng-if="georeferences">Données géoréférencées</dt>
			<dd ng-if="georeferences"></dd>
		</dl>
		<a ng-href="#/result/occurrence" class="submit">Rechercher</a>
	</accordion-group>
</accordion>

<div id="search-tabs"> 	
	<a ng-href="#/search/taxa" class="taxa">Taxon</a>
	<a ng-href="#/search/geography" class="geo">Géographie</a> 
	<a ng-href="#/search/dataset" class="dataset">Jeu de données</a>
	<a ng-href="#/search/date" class="date">Date</a>                 
</div>
