<div id="search-form" class="taxa">
	<div ng-include="'portal/search/search.inc.html'"></div>

	<div class="forms">
		<form ng-submit="addScientificName()">
			<i class="icon-question-sign" ng-click="isCollapsedScientific = !isCollapsedScientific"></i>
			<label  for="scientificName">Nom scientifique </label>
			<input type="text" id="scientificName" ng-model="scientificName" typeahead="name for name in autocompleteScientificName($viewValue)" />
			<input type="submit" value="Ajouter" />

			<div class="help-message" collapse="isCollapsedScientific">Faire une recherche en utilisant le nom scientifique de l'occurrence. Par exemple : canis lupus.</div>	
		</form>
		<form class="" ng-submit="addVernacularName()">

			<i class="icon-question-sign" ng-click="isCollapsedCommun = !isCollapsedCommun"></i>
			<label for="vernacularName">Nom commun</label>
			<input type="text" id="vernacularName" class="input-medium" ng-model="vernacularName" typeahead="name for name in autocompleteVernacularName($viewValue)" disabled="disabled"/>
			<input type="submit" value="Ajouter" />

			<div class="help-message" collapse="isCollapsedCommun"> Faire une recherche en utilisant le nom commun de l'occurrence. Par exemple : loup <b>(en cours de développement)</b>. </div>
		</form>
	</div>	
</div>
